@font-face {
    font-family: "TTLakes";
    src: local("TTLakes-Regular"),
      url("./fonts/TTLakes-Regular.woff2") format("woff2"),
      url("./fonts/TTLakes-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

body{
    margin: 0;
    padding: 0;
}

.mobile-menu{
    max-width: 320px;
    min-height: 1024px;
    box-shadow: 16px 0 52px 0px rgba(14, 24, 80, 0.2);

}
button{
    border: none;
    background-color: white;
}
.menu-header{
    display: flex;
    min-height: 88px;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-bottom: 30px;
}

.menu-header__logo-button{
    margin-right: 80px;
}

.menu-main__button-link{
    display: block;
    font-family: "TTLakes";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    color: #1B1C21;
    margin-left: 20px;
    margin-bottom: 30px;
    text-decoration: none;

}

.menu-main .active{
    color: #7E7E82;
}

.menu-main > .active::before{
    content: "";
    height: 32px;
    width: 4px;
    position: absolute;
    left: 0;
    transform: translateY(-5px);
    background-color: #41F6D7;
    border-radius: 30%;
}

.menu-contacts{
    max-width: 196px;
    margin-top: 250px;
    font-family: "TTLakes";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    margin-left: 20px;

}

.menu-contacts__contact-logo{
    margin-left: 15px;
}

.menu-contacts__contact-logo:first-child{
    margin-left: 0;
}

.menu-contacts__email{
    display: block;
    margin-top: 15px;
}

.menu-contacts__phone{
    display: block;
    margin-top: 15px;
    font-size: 24px;
    white-space: nowrap;
    font-weight: 700;
}

.menu-language{
    margin-top: 50px;
    font-family: "TTLakes";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;

}

.menu-language__language-button{
    margin-left: 20px;
}

.menu-language .active{
    color:#7E7E82;
}